<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{#description}}{{description}}{{/description}}{{^description}}{{site_description}}{{/description}}">
    <title>{{#is_home}}{{site_title}}{{/is_home}}{{^is_home}}{{post.title}} &mdash; Nomm{{/is_home}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{site_url}}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site_url}}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site_url}}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{site_url}}/assets/site.webmanifest">
    <link rel="alternate" type="application/rss+xml" title="Nomm &raquo; RSS" href="{{site_url}}/feed.xml" />
    <link rel="stylesheet" href="{{site_url}}/assets/css/style.css">
    {{#is_post}}{{^post.is_blog}}
    <script src="{{site_url}}/assets/js/highlight.pack.js"></script>
    <link rel="stylesheet" href="{{site_url}}/assets/css/code.css">
    {{/post.is_blog}}{{/is_post}}
    
    <script async defer data-domain="nomm.xyz" src="https://plausible.io/js/plausible.js"></script>
</head>
<body{{#is_home}} class="home"{{/is_home}}>

    {{#is_home}}
    <h1>I'm Nomm</h1>

    <p class="description">
        A Java developer from Tallinn, Estonia currently residing in Buenos Aires, Argentina. On this website you can find my <a href="{{site_url}}/projects/">projects</a> and <a href="{{site_url}}/blog/">blog</a>. The blog has a <a href="{{site_url}}/feed.xml">feed</a>, if
        you're interested in subscribing.
        <br><br>
        <a href="https://github.com/soynomm" class="social-icon">
            <img src="./assets/images/github.svg" alt="Github">
        </a>
        <a href="https://twitter.com/soynomm" class="social-icon">
            <img src="./assets/images/twitter.svg" alt="Twitter">
        </a>
        <a href="mailto:{{email}}" class="social-icon">
            <img src="./assets/images/mail.svg" alt="E-mail">
        </a>
    </p>

    {{/is_home}}

    {{#is_post}}
        {{#post.is_blog}}

            <div class="back">
                <a href="{{site_url}}/">&laquo; back</a>
            </div>

            <h1>Blog</h1>

            <ul class="posts">
            {{#posts}} 
                <li class="year">{{year}}</li>
                {{#entries}}
                    {{#public}}
                    <li>
                        <h3><a href="{{url}}" title="{{title}}">{{title}}</a></h3>
                        <div class="date">{{format_date date "MMM dd"}}</div>
                    </li>
                    {{/public}}
                {{/entries}}
            {{/posts}}
            </ul>

        {{/post.is_blog}}

        {{^post.is_blog}}

            {{#post.is_project}}
            <div class="back">
                <a href="{{site_url}}/projects/">&laquo; back</a>
            </div>
            {{/post.is_project}}

            {{^post.is_project}}
                {{#post.date}}
                    <div class="back">
                        <a href="{{site_url}}/blog/">&laquo; back</a>
                    </div>
                {{/post.date}}
                {{^post.date}}
                    <div class="back">
                        <a href="{{site_url}}/">&laquo; back</a>
                    </div>
                {{/post.date}}
            {{/post.is_project}}

            <div class="post">
                <h1>{{post.title}}</h1>
                {{#post.date}}<div class="date">{{format_date post.date "MMM dd, yyyy"}}</div>{{/post.date}}
                <div class="entry">{{{post.entry}}}</div>
            </div>

        {{/post.is_blog}}

    {{/is_post}}

</body>
</html>
